
<div class="alert alert-info" style= "width:89%" >
	<div style="width:100%">
<table class="table table-hover table-condensed table-responsive office_stock" >
	<thead>
		STOCK
		<tr>
		 <th>Date </th>
		 <th>Voucher No </th>
		 <th>Department</th>
		 <th>Name</th>
		 <th>Description</th>
		 <th>Price Unit</th>
		 <th>Quantity</th>
		 <th>Total Price</th>
		 <th>Remaining</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%=@office.date%></td>
			<td><%=@office.voucher_no%></td>
			<td><%=@office.department%></td>
			<td><%=@office.name%></td>
			<td><%=@office.description%></td>
			<td><%=@office.price_unit%></td>
			<td><%=@office.quantity%></td>
			<td><%=@office.total_price%></td>
			<td><%=@office.quantity-@office.quantity_assigned%></td>
			<td><%= link_to "Assign","lab/new#{@office.id}", :method=> :pos, :class=>"btn btn-info btnmini" %></td> 
		</tr>
	</tbody>
</table>
</div>
</div>

<div class= "alert alert-info" style="width:40%">
<table class="table table-striped table-condensed">
	<thead>
		<th>Labname</th>
		<th>Quantity</th>
		<th>Quantity Used</th>
		<th>Status</th>
	</thead>
	<tbody>
		<% @labs.each do|f| %>
			<tr>
				<td><%=f.labid.name%></td>
				<td><%=f.quantity%></td>
				<td><%=f.quantity_used%></td>
				<td><%=f.status%></td>
			</tr>
		<%end%>
	</tbody>
</table>
</div>